<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="">

                        <div class="col-md-12">

                            <h2 class="font-bold m-b-xs">
                                Container Name: dlnlp1
                            </h2>
                        </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <h4> Region: </h4>
                                </div>
                               <div class="col-md-4">
                                <p class="mt-1 ml-2"> eastus</p>
                               </div>
                               <div class="col-md-2">
                                <h4> Docker Image: </h4>
                                                            </div>
                           <div class="col-md-4">
                            <p class="mt-1 ml-2"> fenago/deep-learning-for-nlp</p>
                        </div>
                              
                            </div>
                            <div class="hr-line-dashed"></div>
                           
                            <div class="row">
                                <div class="col-md-2">
                                    <h4> ProvisioningState: </h4>
                                </div>
                               <div class="col-md-4">
                                <p class="mt-1 ml-2"> Succeeded</p>
                            </div>
                            <div class="col-md-2">
                                <h4> Container IP: </h4>
                            </div>
                           <div class="col-md-4">
                            <p class="mt-1 ml-2"> Container stopped</p>
                        </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                           
                            <div class="row">
                                <div class="col-md-2">
                                    <h4> Container fqdn: </h4>
                                </div>
                               <div class="col-md-4">
                                <p class="mt-1 ml-2"> <a href="http://dlnlp1.eastus.azurecontainer.io"
                                    target="_blank">http://dlnlp1.eastus.azurecontainer.io</a></p>   
                                    </div>
                                    <div class="col-md-2">
                                        <h4> VCPU: </h4>
                                    </div>
                                   <div class="col-md-4">
                                    <p class="mt-1 ml-2"> 2</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                           
                            <div class="row">
                                <div class="col-md-2">
                                    <h4> RAM: </h4>
                                </div>
                               <div class="col-md-4">
                                <p class="mt-1 ml-2"> 4GB</p>
                            </div>
                            <div class="col-md-2">
                                <h4> Ports: </h4>
                            </div>
                           <div class="col-md-4">
                            <p class="mt-1 ml-2"> 8888, 4040, 8080, 80, 6080, 6901</p>
                        </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                           
                            <div class="d-flex justify-content-end" id="outer">
                                <div class="inner"><button class="btn rounded-pill bg-success text-white px-4"
                                        onclick="startContainers()" id="btnstart">Play</button>
                                </div>
                                <div class="inner mx-2"><button class="btn rounded-pill bg-info text-white px-3"
                                        onclick="stopContainers()" id="btnstop">Pause</button>
                                </div>
                                <div class="inner"><button class="btn rounded-pill bg-primary text-white px-3"
                                        onclick="restartContainers()" id="btnrestart">Restart</button></div>
                                <div class="inner mx-2"><button class="btn rounded-pill bg-danger text-white px-3"
                                        onclick="deleteContainers()" id="btndelete">Delete</button></div>
                            </div>

                          



                        </div>
                      
                    </div>

                </div>
               
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">


            </div>

        </div>
    </div>



