<body class="gray-bg bg-light" data-gr-c-s-loaded="true">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Welcome to IN+</h3>

            <p>Create account to see it in action.</p>
            <form class="m-t" [formGroup]="form" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <input type="email" formControlName="name" class="form-control" placeholder="Name" required="">
                    <p *ngIf="isFormSubmitted && f.name.errors && f.name.errors.required"  class="text-danger">
                        Name is Required
                </p> 
               
                </div>
                <div class="form-group">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email" required="">
                 <p *ngIf="isFormSubmitted && f.email.errors && f.email.errors.required"  class="text-danger">
                        Email is Required
                </p> 
                <p *ngIf="isFormSubmitted && f.email.errors && f.email.errors.email"  class="text-danger">
                    Email is Invalid
            </p>  
            </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" required="">
                   
                    <p *ngIf="isFormSubmitted && f.password.errors && f.password.errors.required"  class="text-danger">
                        Password is Required
                </p> 
            </div>
                  
                    <div class="form-group">
                        <label class="container"><small>Agree the terms and policy</small>
                            <input type="checkbox" formControlName="agree">
                           
                            <span class="checkmark"></span>
                          </label>
                          <p *ngIf="isFormSubmitted && !f.agree.value"  class="text-danger">
                            You must agree to the terms and policies
                    </p>  
                    </div>
                   
               
                <button type="submit" class="btn block full-width m-b">Signup</button>

                
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn bg-white text-muted btn-block" href="javascript:void(0)" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
            </form>
          
        </div>
    </div>

    



</body>